**/*.bc
*.bc
**/*.o
*.o
**/obj
lib/musl/lib
lib/musl/config.mak
 
# Ignore klee output
**/klee-last
**/klee-out*

# Ignore Vagrant artifacts
**/.vagrant

# Ignore llvm pass build output
llvm-passes/build

# Ignore temporary vim files
**/*.sw*

# Ignore .temps files
**/*.temps

# Ignore 'upb' repository copies
third_party/upb-*
