**/*.bc
**/*.o
**/obj
lib/musl/lib
 
# Ignore klee output
**/klee-last
**/klee-out*

# Ignore Vagrant artifacts
**/.vagrant

# Ignore llvm pass build output
lib/llvm-passes/build

# Ignore temporary vim files
**/.sw*
